# Byte-compiled / optimized
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.cache

# OSX
.DS_Store

# Misc
.idea

# Environments
venv/
.vscode/
